<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "assets/fonts.css" %}">
  <script type="text/javascript" src="{% static "js/FrontEnd.js" %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static "styles/FrontEnd.css" %}" media="screen" type="text/css">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static "styles/login.css" %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{% static "js/landing.js" %}"></script>
  <title>iDontNeedThis</title>
</head>

<body>
  <section class="nav">
    <h1><a>i</a>DontNeedThis</h1><br>
    <div class="links">
      <a href={% url "about" %}>About Us&nbsp;&nbsp;&nbsp;</a>
      <a href="{% url "faq" %}">FAQ&nbsp;&nbsp;&nbsp;</a>
      {% if user.is_authenticated %}
      <a href="{% url "logout" %}">Logout</a>
      <a href="{% url "profile" %}">Logged In as: {{ user.username }}</a>
      {% else %}
      <p onclick="animateOnLogin('.auth-popup-container')">Login</p>
      <p onclick="animateOnLogin('.auth-popup-container')">Sign Up</p>
      {% endif %}
    </div>
  </section>
  <section class="auth-popup-container">
    <div class="auth-backdrop" onclick="animateClose('.auth-popup-container')"></div>
    <div class="auth-popup card">
      <div class="auth-side">
        <div>
          <h1 style="color: #fff;margin-left: 0px; ">Login</h1>
          <p style="font-size: 1rem;">Get access to all your previous donations and incentives.</p>
        </div>
        <img src="{% static "icons/auth.svg" %}" style="height: auto !important" alt="login" />
        <img src="{% static "icons/close.svg" %}" class="close" alt="close"
          onclick="animateClose('.auth-popup-container')" />
      </div>
      <form method="post" class="auth-form">
        {% csrf_token %}
        <div class="input-field">
          <input name="phone" id="phone" oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Please enter a valid phone number.')"
            pattern="\+?\d{1,4}?[-.\s]?\(?\d{1,3}?\)?[-.\s]?\d{1,4}[-.\s]?\d{1,4}[-.\s]?\d{1,9}" type="tel">
          <label for="phone">Phone</label>
        </div>
        <div class="input-field">
          <input id="password" required oninput="this.setCustomValidity('')" minlength="6"
            oninvalid="this.setCustomValidity('Password should be 6 characters long.')" type="password">
          <label for="password">Password</label>
        </div>
        <button name="login" type="submit" class="button accent fullwidth">Submit</button>
      </form>
    </div>
  </section>
  < <div id="food" onclick="" class="flex">
    <div class="icon">
      <img src="{% static "icons/pizza-slice-solid.svg" %}" alt="food">
    </div>
    <p>Food</p>
    </div>
    <div id="books" class="flex">
      <div class="icon">
        <img src="{% static "icons/book-solid.svg" %}" alt="">
      </div>
      <p>Stationary</p>
    </div>
    <div id="Furniture" class="flex">
      <div class="icon">
        <img src="{% static "icons/couch-solid.svg" %}" alt="">
      </div>
      <p>Furniture</p>
    </div>
    <div id="Electronics" class="flex">
      <div class="icon">
        <img src="{% static "icons/laptop-solid.svg" %}" alt="">
      </div>
      <p>Electronics</p>
    </div>
    <div id="cloth" class="flex">
      <div class="icon">
        <img src="{% static "icons/tshirt-solid.svg" %}" alt="">
      </div>
      <p>Clothes</p>
    </div>
    <div id="medi" class="flex">
      <div class="icon">
        <img src="{% static "icons/syringe-solid.svg" %}" alt="">
      </div>
      <p>Medicines</p>
    </div>
    <div class="flex" id="bed">
      <div class="icon">
        <img src="{% static "icons/bed-solid.svg" %}" alt="">
        <p>Bedding</p>
      </div>
    </div>
    <div class="flex" onclick="Money()" id="money">
      <div class="icon">
        <img src="{% static "icons/credit-card-solid.svg" %}" alt="">
        <p>Money Transfer</p>
      </div>
    </div>
    </main>
    <section class="popup-container">
      <div onclick="animateClose('.popup-container')" class="popup-backdrop"></div>
      <div class="popup">
        <h1>Dummy</h1>
        <form method="post" class="popup-form">
          {% csrf_token %}
        </form>
      </div>
    </section>

</body>

</html>