<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>I Don't Need this</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "assets/fonts.css" %}" rel="stylesheet">
    <meta name="theme-color" content="#ff6b6b">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "styles/landing.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static "js/landing.js" %}"></script>
</head>

<body>
    <section class="nav container">
        <h1>I don't need this</h1>
        <div class="links">
            <p>About Us</p>
            <p onclick="animateOnLogin()">Login</p>
            <p onclick="animateOnLogin()">Sign Up</p>

        </div>
    </section>
    <section class="hero container">
        <div class="content">
            <p class="title">Have stuff lying around that you don't need?</p>
            <p class="subtitle">We can help!</p>
            <a onclick="animateOnLogin()" class="button">Get Started</a>
        </div>
        <img src="{% static "icons/hero-1.svg" %}" />
    </section>
    <section class="auth-popup-container">
        <div class="auth-backdrop" onclick="animateClose()"></div>
        <div class="auth-popup card">
            <div class="auth-side">
                <div>
                    <h1>Login</h1>
                    <p>Get access to all your previous donations and incentives.</p>
                </div>
                <img src="{% static "icons/auth.svg" %}" alt="login" />
                <img src="{% static "icons/close.svg" %}" class="close" alt="close" onclick="animateClose()" />
            </div>
            <form action="." method="post" class="auth-form">
                {% csrf_token %}
                <div class="input-field">
                    <input name="phone" id="phone" oninput="this.setCustomValidity('')"
                        oninvalid="this.setCustomValidity('Please enter a valid phone number.')"
                        pattern="\+?\d{1,4}?[-.\s]?\(?\d{1,3}?\)?[-.\s]?\d{1,4}[-.\s]?\d{1,4}[-.\s]?\d{1,9}" type="tel">
                    <label for="phone">Phone</label>
                </div>
                <div class="input-field">
                    <input name="password" id="password" required oninput="this.setCustomValidity('')" minlength="6"
                        oninvalid="this.setCustomValidity('Password should be 6 characters long.')" type="password">
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="button accent fullwidth">Submit</button>
            </form>
        </div>
    </section>
</body>

</html>