<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "assets/fonts.css" %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "styles/profile.css" %}">
    <script src="{% static "js/landing.js" %}"></script>
</head>

<body>
    <nav class="profile-header">
        <img class="profile-dp" src="{% static "icons/dummydp.jpg" %}" />
        <div class="profile-header-info">
            <p>Hi,</p>
            <h3>Ajesh DS</h3>
        </div>
    </nav>
    <section class="form-cont container">
        <h1>Your Profile</h1>
        <form action="" class="form">
            <div class="profile-input">
                <label>Name</label>
                <input type="name" value="Ajesh" name="name" />
            </div>
            <div class="profile-input">
                <label>Email</label>
                <input type="email" value="ajeshd17@gmail.com" name="email" />
            </div>
            <div class="profile-input">
                <label>Address</label>
                <input type="address" value="B05 Yamuna, Anushaktinagar, Mumbai" name="address" />
            </div>
            <!-- TODO: Handle Password -->
            <div class="profile-input" id="esp">
                <label>Password</label>
                <button onclick="animateOnLogin('.popup-container')" type="button" class="button accent">Change
                    Password</button>
            </div>
            <button type="submit" class="button">Save Changes</button>
        </form>
    </section>
    <section class="popup-container">
        <div onclick="animateClose('.popup-container')" class="popup-backdrop"></div>
        <div class="popup form-cont">
            <h1>Change Password</h1>
            <img src="{% static "icons/close.1.svg" %}" class="close" alt="close"
                onclick="animateClose('.popup-container')" />
            <form action="." method="post" class="form">
                <div class="profile-input pop">
                    <label>Current Password</label>
                    <input name="oldpass" type="password" name="cur_pwd" />
                </div>
                <div class="profile-input pop">
                    <label>New Password</label>
                    <input name="newpass" type="password" name="new_pwd" />
                </div>
                <div class="profile-input pop">
                    <label>Confirm Password</label>
                    <input name type="password" name="new_pwd" />
                </div>
                <button type="submit" class="button">Save Changes</button>
            </form>
        </div>
    </section>
</body>

</html>