<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Request Submitted</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "styles/submit.css" %}">
    <script src="{% static "js/submit.js" %}"></script>
</head>

<body>
    <h1>Thank You!</h1>
    <p>Thank you for taking a step towards making the world a better place.</p>
    <p>NGO Xyz has been assigned to your request. You'll hear from them soon.</p>
    <div class="mapouter">
        <div class="gmap_canvas"><iframe class="if" height="500" id="gmap_canvas"
                src="https://maps.google.com/maps?q=google+maps+nearest+ngos+RAIT&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
    </div>
</body>

</html>