* {
  font-family: 'Product Sans', sans-serif;
}

html{
display: flex;
}
h1{
  font-size: 50px;
  margin-left: 30px;
  user-select: none;
}
main,main:hover{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#food:hover,#bed:hover,#medi:hover,#Furniture:hover,#Electronics:hover,#books:hover,#cloth:hover,#money:hover{
  cursor: pointer;
}
img{
  display: flex;
  margin:60px 110px 32px 120px;
  height: 100px;
  align-items: center;
  justify-content: center;
  width: 100px;
  user-select: none;

}
.flex{
  border: solid 0 orange;
  border-radius: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
p{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  color: #fff;
  user-select: none;
  font-size: 25px;
}
#food{
background: linear-gradient(45deg,#1f004d,#330080,#e0ccff);
}
#books{
  background: linear-gradient(45deg,#cc5200,#ff751a,#fff0e6);
}
#Furniture{
background: linear-gradient(45deg,#0063cc,#3396ff,#b3d6ff);
}
#Electronics{
  background: linear-gradient(45deg,#196619,#47d147,#d6f5d6);
}
#medi{
background: linear-gradient(45deg,#b38300,#ffbb00,#ffecb3);
}
#cloth{
background: linear-gradient(45deg,#cc00cc,#ff66ff,#ffe6ff);
}
#bed{
  background: linear-gradient(45deg,#ff1a1a,#ffe6e6);
}
#money{
  background: linear-gradient(45deg,#000000,#8c8c8c,#e6e6e6);
}
a{
  color: red;
}
